
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>

<section id="about" style="background: url(/images/bgpic.JPG)no-repeat  center center/cover">

    <h1 class="headings">ABOUT US</h1>
    <div id="pic">
        <img src="~/images/aboutus.jpg" alt="">
        <div id="intro">
            <h2>DELICIOUS DELIGHTS</h2>
            <p>
                Delicious Delights is India's largest online food ordering and delivery<br /> platform, which came into existence
                with the idea to provide an end ,<br />to end food service right from order to delivery all this from the comfort<br />
                of one's home, the objective of the website is to disrupt the kitchen at<br /> home and make their delivery
                service a viable option for an everyday <br />food need.Delicious Delights has it's own fleet of delivery boys,
                so <br />it does not have a minimum order policy.
            </p>

        </div>
    </div>

</section>