
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
   
    
    <link rel="stylesheet" href="~/css/index.css" />

</head>


<section id="home" style="background: url(/images/bgpic.JPG)no-repeat  center center/cover; ">
    <div class="main">

        <h1 class="headings" style="color:black;"><b>Delight in Every Bite!!</b></h1>
        <a href="/Home/Product">
            <button class="btn">
                Order now
            </button>
        </a>
    </div>
</section>
